* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}


#app {
    background: linear-gradient(white, whitesmoke, gray);
}

.header {
    display: flex;
    min-width: 80%;
    justify-content: center;
}


.header__wrapper{
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.logotype {
    width: 7rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header_button__container {
    display: flex;
}


.button__help, .button__ico {
    border: none;
    background: skyblue;
    padding: .5rem;
    color: aliceblue;
}

.button__help {
    border-radius: 0 .5rem .5rem 0;
    font-size: 1.5rem;
    font-family: var(--font-family_buttons);
}

.button__ico {
    border-radius: .5rem 0 0 .5rem;
}

.button__img {
    width: 1.5rem;
}

.header__list {    
    display: flex;
    justify-content: center;
}

.header__munu {
    min-width: 75%;
    background: whitesmoke;
}

.categoty_tittle, .link__conteiner {
    padding: 1rem;
    font-family: var(--font-family_prime);
    
}
.categoty_tittle {
    font-size: 1.5rem;
}
.link__conteiner {
    display: flex;
    justify-content: space-around;
}

.corusel {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    background: linear-gradient( transparent, yellowgreen, white );
}

.corusel__wrapper {
    width: 80%;
    height: 35rem;
    max-height: max-content;
    margin-bottom: 5rem;
}

.corusel__image {
    height: 100%;
    background-image: url("../images/dron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.slyder__buttom {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -3rem;
    left: 49%;
    background: none;
    border: none;
    background: whitesmoke;
    border-radius: 50%;
    margin: .5rem; 
}


.corussel__tittle {
    font-size: 4rem;

}

.corussel__information {
    padding: 4rem;
    font-size: 2rem;
    background: linear-gradient(gray, transparent, gray);
}

.corussel__discription {
    color: aliceblue;
    font-family: var(--font-family_third);
    text-align: center;
    align-items: center;
}

.help-baner {
    width: 100%;
    background: skyblue;
    display: flex;
    justify-content: center;
}
.help-baner__wrapper {  
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.baner__image {
    width: 7rem;
}

.help-baner__tittle {
    font-size: 3rem;
    font-family: var(--font-family_prime);
    padding-bottom: 1rem;
    color:whitesmoke;
    text-align: center;
}

.help-baner__discription {
    font-size: 1.5rem;
    font-family: var(--font-family_prime);
    color:whitesmoke;
    text-align: center;
}

.main {
    width: 100%;
    font-family: var(--font-family_prime);
}
.project_title__wrapper {
    display: flex;
    justify-content: center;
}

.project_title__container {
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.container__title {
    align-items: center;
    font-size: 4rem;
    color: magenta;

}


.project_title__button {
    background: none;
    padding: 1rem;
    background: yellow;
    border: none;
    border-radius: 2rem;
    color:magenta;
    font-size: 1.5rem;
}




.main__projects {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid yellowgreen;
    padding-bottom: 5rem;
}


.project__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.project {
    margin: 1rem;
}

.project__image {
    background-image: url(../images/dron.jpg);
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    min-height: 20rem;
    text-align: center;
}

.project__category {
    position: relative;
    top: 2rem;
    border-radius: 0 .3rem .3rem 0;
    padding: 0.2rem;
    width: max-content;
    background: grey;
    height: 2rem;
    color: yellow;
    font-family: var(--font-family_buttons);
}

.project_image__tittle {
    padding-top: 10%;
    font-family: var(--font-family_buttons);
    color: blue;
    font-size: 2rem;
}

.project__information {

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project__tittle {
    text-align: center;
    font-size: 1.7rem;
}

.project__discription {
    font-size: 1.3rem;
    text-align: justify;
}

.project__button {
    display: flex;
    justify-content: center;
}

.materials__discription{
    padding-top: 10rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 3rem;

}

.main__materials {
    display: flex;
    justify-content: center;
    text-align: justify;

}

.material {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.material__column_1{
    padding: .5rem;
    font-size: 1.2rem;
}

.material__column_2 {
    padding: .5rem;
    font-size: .6rem;
}


.material__image {
    background: url("../images/dron.jpg");
    height: 12rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.material__tittle {
    padding-top: .5rem;
    background: linear-gradient(gray,  whitesmoke,  transparent);
}

.material__discription {
    padding-top: .5rem;
    margin-bottom: 3rem;
}

.text_column {
    padding: .5rem;
}

.text_column__category{
    background: gray;
}
.text_column__discription {
    text-align: justify;
}

.footer {
    display: flex;
    justify-content: center;
    background:dimgray;
}


.footer__wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.social_networc {
    display: block;
}

.baner__wrapper {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(transparent, darkmagenta, transparent) ;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.baner_column {
    text-align: justify;
    width: 100%;
    min-height: 40rem;
    background: url("../images/dron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

.column__tittle {
    font-size: 5rem;
    color: yellow;
}

.column__discription {
    font-size: 3rem;
    color: blue;
}

.main__about{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.about__information {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.about__container {
    padding: 1rem;
    width: 80%;
    font-family: var(--font-family_third);
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
}

.about__tittle {
    padding-bottom: 3rem;
    text-align: center;
}


.about__image {

    width: 30rem;
    height: 100%;
    background: url("../icons/fav-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__button {
    text-align: center;
    padding: 3rem;
}