* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    background: var(--prime-bg);
    font-family: var(--font-family_prime);
}

.header__munu,
.corusel__wrapper,
.header__wrapper,
.project_title__container,
.project__wrapper,
.material,
.footer__wrapper,
.about__information,
.about__container {
    width: var(--main-min-wiz);
}

.header,
.header__list,
.corusel,
.help-baner,
.project_title__wrapper,
.main__projects,
.project__button,
.main__materials,
.footer,
.main__about {
    display: flex;
    justify-content: center;
}

.header__wrapper,
.project_title__container,
.project__wrapper,
.material,
.footer__wrapper,
.about__information,
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-baner,
.button__help,
.button__ico {
    background: var(--button-bg);
}

.button__help,
.button__ico,
.project_title__button {
    border: none;
    padding: var(--padding-xls);
}

.logotype,
.baner__image {
    width: var(--width_img_s);
}

.header_button__container,
.link__conteiner,
.help-baner__wrapper,
.baner__wrapper {
    display: flex;
}

.categoty_tittle,
.link__conteiner {
    padding: var(--padding-s);
}

.project__category,
.button__help {
    font-family: var(--font-family_buttons);
}

.categoty_tittle,
.help-baner__discription,
.project_title__button,
.button__help {
    font-size: var(--font-size_button);
}

.corussel__tittle,
.container__title,
.column__tittle {
    font-size: var(--font-size_tittle);
}

.header__wrapper,
.help-baner__tittle,
.corussel__tittle,
.help-baner__discription,
.project__image,
.project__tittle,
.materials__discription,
.footer__wrapper,
.about__tittle,
.about__button {
    text-align: center;
}

.corusel,
.corusel__discription,
.help-baner {
    padding-top: var(--padding-xl);
}

.corussel__information,
.project_image__tittle,
.project__tittle {
    font-size: var(--font-size_x);
}

.header__munu,
.slyder__buttom {
    background: var(--menu_bg);
}

.corusel__image,
.about__image {
    height: 100%;
}

.main,
.main__projects,
.baner_column,
.help-baner {
    width: 100%;
}

.about__tittle,
.materials__discription,
.help-baner {
    padding-bottom: var(--padding-m);
}

.text_column__discription,
.baner_column,
.main__materials,
.about__container,
.corusel__discription,
.project__discription {
    text-align: justify;
}

.container__title,
.about__container {
    align-items: center;
}

.column__tittle,
.help-baner__tittle,
.button__help,
.button__ico,
.corusel__discription,
.help-baner__discription {
    color: var(--color_x);
}

.container__title,
.column__discription,
.project_title__button,
.container__title,
.about__container {
    color: var(--color_y);
}

.project_title__button {
    border-radius: .5rem;
}

.corusel__discription,
.about__container {
    font-family: var(--font-family_third);
}

.column__discription,
.materials__discription,
.help-baner__tittle,
.about__tittle {
    font-size: var(--font-size_xs);
}

.project__discription,
.footer,
.about__discription {
    font-size: var(--font_size_s);
}

.project__category,
.footer {
    color: var(--button_bg2);
}

.button__help {
    border-radius: 0 .5rem .5rem 0;
}

.button__ico {
    border-radius: .5rem 0 0 .5rem;
}

.button__img {
    width: 1.5rem;
}

.link__conteiner {
    justify-content: space-around;
}

.corusel,
.project_title__button {
    background: var(--corusel-bg);
}

.corusel__wrapper {
    height: var(--bammer_w);
    max-height: max-content;
    margin-bottom: var(--padding-xl);
}

.corusel__image {
    background-image: url("../images/dron.jpg");
}

.corussel__information {
    padding: var(--padding-l);
    background: var(--second-bg);
}

.slyder__buttom {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -3rem;
    left: 49%;
    border: none;
    border-radius: 50%;
    margin: var(--margin-xls);
}

.help-baner__wrapper {
    padding: var(--padding-m);
    justify-content: space-evenly;
}

.help-baner__tittle {
    padding-bottom: var(--padding-s);
}

.main__projects {
    border-bottom: 3px solid yellowgreen;
    padding-bottom: var(--margin-xl);
}

.project {
    width: 30%;
}

.project__image {
    background-image: url("../images/dron.jpg");
    border-radius: 1rem;
    height: var(--height_x);
}

.project__category {
    position: relative;
    top: 2rem;
    border-radius: 0 .3rem .3rem 0;
    padding: 0.2rem;
    width: max-content;
    background: var(--bg_dop);
    height: 2rem;
}

.project_image__tittle {
    padding-top: 30%;
    font-family: var(--font-family_buttons);
    color: var(--color_v);
}

.project__information {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
}

.materials__discription {
    padding-top: var(--padding-xxl);
}

.material__column_1 {
    padding: var(--padding-xls);
    font-size: var(--font_size_s);
}

.material__column_2 {
    padding: var(--padding-xls);
    font-size: var(--font-size_button_xls);
}

.material__image {
    background: url("../images/dron.jpg");
    height: var(--height_y);
}

.material__tittle {
    padding-top: var(--padding-xls);
    background: var(--therd_bg);
}

.material__discription {
    padding-top: var(--padding-xls);
    margin-bottom: var(--margin-l);
}

.text_column {
    padding: var(--padding-xls);
}

.text_column__category {
    background: var(--bg_dop);
}

.footer {
    background: var(--footer_bg);
}

.social_networc {
    display: block;
}

.baner__wrapper {
    justify-content: space-between;
    background: var(--4th-bg);
    padding-top: var(--padding-xxl);
    padding-bottom: var(--padding-xxl);
}

.baner_column {
    min-height: var(--bammer_w);
    background: url("../images/dron.jpg");
    padding: var(--padding-s);
}

.main__about {
    padding-bottom: var(--padding-xl);
}

.about__container {
    padding: 1rem;
    font-size: var(--padding-s);
}

.about__image {
    width: var(--bammer_w);
    background: url("../icons/fav-icon.png");
}

.about__button {
    padding: var(--font-size_xs);
}

.corusel__image,
.material__image,
.baner_column,
.about__image,
.project__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}