@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/ubuntu/Ubuntu-R.ttf);
  }

@font-face {
    font-family: "Neuropol";
    src: url(../fonts/neuropol/neuropol\ x\ rg.otf);
}

@font-face {
    font-family: "Nasalization";
    src: url(../fonts/nasalization/nasalization-rg.otf);
}

:root {
    --font-family_prime: Ubuntu;
    --font-family_buttons: Neuropol;
    --font-family_third: Nasalization;



    --prime-bg: linear-gradient(white, whitesmoke, gray);
    --second-bg: linear-gradient(gray, transparent, gray);
    --therd_bg:linear-gradient(gray,  whitesmoke,  transparent);
    --4th-bg: linear-gradient(transparent, rgba(100, 247, 71, 0.582), transparent);

    --corusel-bg: linear-gradient( transparent, yellowgreen, white );
    --menu_bg:whitesmoke;
    --footer_bg:rgb(30, 24, 80);

    --button_bg2:rgb(189, 255, 58);
    --button-bg: skyblue;
    --bg_dop: rgba(188, 190, 184, 0.555);


    --padding-xls: .5rem;
    --padding-xs: 1.5rem;
    --padding-s: 1rem;
    --padding-m: 2rem;
    --padding-l: 4rem;
    --padding-xl: 5rem;
    --padding-xxl: 10rem;


    --margin-xls: .5rem;
    --margin-xs: 1.5rem;
    --margin-s: 1rem;
    --margin-m:.5rem;
    --margin-l: 3rem;
    --margin-xl: 5rem;


    --font-size_button_xls: .5rem;
    --font-size_button: 1.5rem;
    --font_size_s: 1.3rem;
    --font-size_x: 2rem;
    --font-size_xs: 3rem;
    --font-size_tittle: 4rem;

    --color_v:rgb(44, 44, 216);
    --color_y:rgb(98, 89, 216);
    --color_x:aliceblue;

    --width_img_s: 7rem;

    --bammer_w: 35rem;
    --main-min-wiz: 70%;

    --height_y: 10rem;
    --height_x: 20rem;

  }